<!-- Footer -->
<footer class="footer text-white">
    <div class="container d-flex h-100">
        <div class="row flex-grow-1">
            <div class="col-lg-3 pt-3 ext-l bg-secondary text-center text-lg-left">
                <div class="d-flex flex-column h-100">
                    <div class="pt-5 pt-lg-8 pb-4">
                        <p class="text-white text-uppercase">Symple Lending</p>

                        <p class="fs--1"><a href="tel:+1-888-796-7538" class="text-white"><i
                                    class="zmdi zmdi-phone zmdi-hc-fw mr-1"></i>+1-888-796-7538</a>
                    </div>

                    <ul class="mt-4 mt-lg-auto mb-5 mb-lg-0 list-unstyled list-inline">
                        <li class="mr-3 list-inline-item">
                            <a href="#" target="_blank">
                                <i class="zmdi zmdi-twitter text-white"></i>
                            </a>
                        </li>
                        <li class="mr-3 list-inline-item">
                            <a href="#" target="_blank">
                                <i class="zmdi zmdi-instagram text-white"></i>
                            </a>
                        </li>
                        <li class="mr-3 list-inline-item">
                            <a href="#" target="_blank">
                                <i class="zmdi zmdi-facebook-box text-white"></i>
                            </a>
                        </li>
                        <li class="mr-3 list-inline-item">
                            <a href="#" target="_blank">
                                <i class="zmdi zmdi-pinterest text-white"></i>
                            </a>
                        </li>
                        <li class="mr-3 list-inline-item">
                            <a href="#" target="_blank">
                                <i class="zmdi zmdi-flickr text-white"></i>
                            </a>
                        </li>
                        <li class="mr-3 list-inline-item">
                            <a href="#" target="_blank">
                                <i class="zmdi zmdi-youtube text-white"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col d-flex flex-column mb-2 mt-3 pl-lg-7">
                <div class="row pt-5 pt-lg-8 pb-4 pb-lg-6">
                    <div class="col-6 col-lg-3">
                        <h6 class="mb-1 mb-lg-4 text-uppercase">Services</h6>
                        <ul class="pt-2 mb-5 fw-light list-unstyled">
                            <li class="my-1"><a data-smooth-scroll data-smooth-scroll-offset="150"
                                    href="debt-consolidation.html" class="text-white">Debt Consolidation</a></li>
                            <li class="my-1"><a data-smooth-scroll data-smooth-scroll-offset="150"
                                    href="personal-loan.html" class="text-white">Personal Loans</a></li>
                            <li class="my-1"><a data-smooth-scroll data-smooth-scroll-offset="150"
                                    href="home-improvement-loans.html" class="text-white">Home Improvement Loans</a>
                            </li>
                            <li class="my-1"><a data-smooth-scroll data-smooth-scroll-offset="150"
                                    href="business-loans.html" class="text-white">Business Loans</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-lg-3">
                        <h6 class="mb-1 mb-lg-4 text-uppercase">About</h6>
                        <ul class="pt-2 mb-5 fw-light list-unstyled">
                            <li class="my-1"><a href="./about.html" class="text-white">About Us</a></li>

                        </ul>
                    </div>
                </div>

                <div class="mt-auto d-flex justify-content-between">
                    <span class="fs--3 fs-lg--2">Copyright &copy; 2022 Symple Lending, LLC </span>
                    <div class="fs--3 fs-lg--2"><a href="./privacy.htm" class="mr-1 text-white">Privacy
                            Policy</a>|<a href="./terms.htm" class="ml-1 text-white">Terms of Site</a>
                        |<a type="button" class="ml-1 text-white" data-toggle="modal" data-target="#loanDisclosure">Loan
                            Disclosure</a></div>
                </div>



                <div class="modal fade bd-example-modal-sm" id="loanDisclosure" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog custom--modal text-dark" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Loan Disclosure</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <p>
                                        Symple Lending, LLC is a Utah licensed lending under the Utah
                                        Department
                                        of
                                        Financial
                                        Institutions.This offer is an estimate and loan amounts range
                                        between
                                        $5,000
                                        and
                                        $100,000. The actual amount will be based on your current credit
                                        report.
                                        Loans
                                        may be
                                        brokered. APR will range from *5.95% - 24% depending on state. Not
                                        all
                                        applicants
                                        will
                                        qualify for *5.95% APR. To qualify you must show proof of $18,000 in
                                        income,
                                        retirement,
                                        or other savings.Will it hurt my credit score to check my rate? No.
                                        Checking
                                        your
                                        rate
                                        does not impact your credit score and will only take a few minutes.
                                        Unsecured
                                        Personal
                                        LoanPersonal Loan amounts vary to a maximum of $100,000, but not all
                                        lenders
                                        provide
                                        up
                                        to $100,000. Symple Lending, LLC does not guarantee that you will
                                        ultimately
                                        be
                                        approved
                                        for any type of loan and the APR/Interest rate will vary depending
                                        on
                                        the
                                        lender's
                                        terms. This offer is subject to the expiration date listed on the
                                        front
                                        page. By
                                        responding to this offer, you are authorizing us to make inquiries
                                        and
                                        obtain
                                        information about you as we deem appropriate for the purpose of
                                        evaluating
                                        you
                                        for
                                        this
                                        extension of credit, including but not limited to: credit reports,
                                        income
                                        verification,
                                        and contacting your employer. Terms and Conditions: To receive a
                                        loan,
                                        you
                                        must
                                        be a
                                        US
                                        citizen or permanent resident, and currently reside in the US and at
                                        least
                                        18
                                        years
                                        old.
                                        Symple Lending is not responsible for errors made by any credit
                                        reporting
                                        agency.
                                        Not
                                        available in every state and loans may be brokered.</p>

                                    <p>
                                        <strong>PRESCREEN & OPT-OUT NOTICE:</strong> This “prescreened”
                                        offer of
                                        credit
                                        is
                                        based on information
                                        in your credit report indicating that you meet certain criteria.
                                        This
                                        offer
                                        is
                                        not
                                        guaranteed if after responding it is determined that you no longer
                                        meet
                                        this
                                        criteria.
                                        If you do not want to receive prescreened offers of credit from this
                                        or
                                        any
                                        other
                                        companies, call the consumer reporting agencies toll-free at
                                        1-888-567-8688
                                        or
                                        visit
                                        the
                                        website at www.optoutprescreen.com; or write TransUnion Opt-Out
                                        Request,
                                        P.O.
                                        Box
                                        505
                                        Woodlyn, PA 19094-0505, Equifax Operations, P.O. Box 740123,
                                        Atlanta, GA
                                        30374,
                                        Experian
                                        Information Systems, Inc., P.O. Box 919, Allen, TX 75013.
                                    </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>