<!-- Section -->
<section class="py-5 pb-0 bg-blue-light">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <img src="../assets/img/trust-pilot-logo.png" alt="" />
        </div>
        <div class="owl-carousel custom-testimonials pb-6 px-lg-8 px-xl-12 owl-loaded owl-drag"
            data-carousel-options='{"autoplay":true,"margin":30,"nav":true,"items":1,"loop":true,"dots":false}'>
        </div>
    </div>
</section>
<!-- End of Section -->